.container {
	background-color: #0d0d0d;
	bottom: 0px;
	color: #faebd7;
	display: flex;
	flex-direction: column;
	font-family: Calibri;
	font-size: 14px;
	font-weight: bold;
	gap: 3px;
	height: 60px;
	left: 0;
	padding: 12px;
	position: absolute;
	width: 100%;
}

.pricing {
	display: flex;
	justify-content: space-between;
	gap: 3px;
}

.type {
	display: flex;
	gap: 10px;
	justify-content: space-between;
}

.type > span {
	color: #00ffff;
	font-weight: bolder;
}

.value_money {
	color: #ff0000;
}
