p {
	background-color: #0d0d0db7;
	bottom: 90px;
	color: #fff;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	font-size: 12px;
	font-weight: bold;
	height: 40px;
	padding: 12px;
	position: absolute;
	right: 0;
}
